<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Парсер</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/search.js"></script>
</head>
<body>
     <form id = "queryForm">
        <p><b>Введите поисковый запрос для парсинга</b></p>
        <p><input id = "queryString" name = "queryString" type="text"></p>
        <p><button id = "buttonStart" type = "button">Начать парсинг</button></p>
    </form>
    <a href = "#">Результаты предыдущих поисков</a>
</body>
</html>